.button {
    position: relative;
    
    color: #111311;
    transition: .3s;
  }
  
  .button::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    content: '';
    background: #9bd499;
    transition: transform .3s;
  }
  
  .button:hover {
    color: #1a1919;
  }
  
  /* Specific styles for button10 */
  .button10::before {
    transform-origin: center center;
    transform: scale(1, 0);
  }
  
  .button10:hover::before {
    transform: scale(1, 1);
  }

  
  .initial-opacity {
    opacity: 0;
  }
  
  .initial-opacity:hover {
    opacity: 1;
  }
  
  .main-container {
    height: 100vh;
    margin-bottom: 20px; /* Adjust the margin value as needed */
  }